[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
langchain = "*"
langchain-openai = "*"
langchain-core = "*"
chromadb = "*"
pymupdf = "*"
uvicorn = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pyfakefs = "*"
flake8 = "*"
bandit = "*"

[requires]
python_version = "3.12"